Django==5.2.12
django-crispy-forms==2.5
crispy-bootstrap5==2026.3
sentence-transformers==5.3.0
transformers==5.1.0
torch==2.10.0
scikit-learn==1.8.0
numpy==2.4.2
PyPDF2==3.0.1
python-docx==1.2.0
nltk==3.9.2
pandas==3.0.2
python-decouple==3.8
dj-database-url==3.1.2
gunicorn==25.1.0
whitenoise==6.11.0
pillow==12.1.1
